.navbar-text
{
    font-family: 'Kalnia', serif;
    font-size: larger;
    font-weight: bold;
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 50px;
}
p{
    font-size: 18px;
}
ol{
    list-style: none;
    color:lightcoral;
}

